#banner {
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 40px;

}
.grid {
    width: 300px;
    height: 300px;
    border: solid;
    display: flex;
    flex-wrap: wrap;
   align-items: center;
   justify-content: center;
    background-image: url(./Media/space.jpeg);
}

body {
    background-color: silver;
}

.center {
    height: auto;
    width: auto 0;
    display: flex;
   justify-content: center;
}
.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-image: url(./Media/Alien.png);
    border-radius: 10px;
}

.shooter {
    background-image: url(./Media/Player.png);
    border-radius: 10px;
    
}

.laser {
    background-image: url(./Media/laser.png);
}

.boom {
    background-image: url(./Media/boom.png);
}